
/* * s'applique à toutes les catégories */
*{
    overflow: auto;
}
body {
    background-color: #8BA1BB;
    font-family: Arial;
    border: 1px solid red;
    
}
p.categorie{
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: px;
    padding: 8px 18px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid yellow;
}
div.contenu{
    background-color:white;
    margin: 0px 10% 800px 10%;
    padding: 30px;
    min-width: 350px;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0, 1);
    border: 2px solid blue;
}
h1{
    text-align: center;
    margin-bottom: 12px;
    margin-top: 10px;
    border: 1px solid black;
}
p.description{
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size: 14px;
    border: 1px solid black;

}
.centre{
    text-align: center;
    width: 100%;
  
}
div.categorie{
    margin-bottom: -18px;
    margin-top: 60px;
    border: 1px solid black;
}
div.separateur{
    width: 100px;
    height: 1px;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
}
div.info{

    position:relative;
    border: 1px solid red;
}
table.info{

    position:absolute; 
    bottom:0; 
    width: 100%;
    color: white; 
    background-color: #6c829dc0; 
    height: 80px;
    border: 1px solid red;
}
table.info td{

    text-align: center;
    font-size: 14px;
    vertical-align: top;
}
table.info th{
    font-size: 16px;
    vertical-align: bottom;
    padding-bottom: 8px;
}
img.info{
    display:block;
    max-height: 400px;
    object-fit: cover;
    min-height: 200px;
    background-color: lightgray;
    border: 3px solid yellow
}
div.colonne{
    width: 45%;
    margin-top: 20px;
    border: 3px solid yellow
}
div.colonne h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 5px solid #6c829d;
    padding-bottom: 5px;
}

div.colonne1{
    display: inline-block;
    margin-right: 10%;

}
div.colonne2{
    float: right;

}
div.ingredients p{
    text-align: center;
    font-size: 14px;
    border: 1px solid lightgrey;
    padding: 8px o;
    margin-top: 4px;
    margin-bottom: o;

}
table.preparation p.numero{
    background-color: #6c829d;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;
}
table.preparation td{
    vertical-align: top;
}
table.preparation td.preparation_etape{
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
}
table.preparation tr{
    height: 40px;
}
